<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pawfect Pooch Grooming</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
   <nav class="navbar">
    <div class="logo">Pawfect Pooch</div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/appointments">Appointments</a></li>
        <li><a href="/login">Login</a></li> 
        <li><a href="/contact">Contact</a></li>
         <li><a href="/display_page">Display Page</a></li>
    </ul>
   </nav>
<header class="home">
    <h1>Welcome to Pawfect Pooch Grooming Salon</h1>
    <p>It's not just a job, it is love.</p>
    <a href="/services" class="btn">View Our Services</a>
</header>
<section class="about">
<h2>Professional Grooming with Love</h2>
<p>
At Pawfect Pooch, we believe every dog deserves to feel clean, fresh,
and confident. Whether it's a simple wash or a full grooming
package, we treat every pup with gentle care.
</p>
<a href="/appointments" class="btn">Book an Appointment</a>
</section>
</body>
</html>